* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;   
    background-color: rgb(177, 42, 141);
}
.nav li {
    display: inline-block;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-nav__item:hover {
    color: brown;
}
.main-nav__item:active {
    color: purple;
}
.main-nav__item::after {
    content: " | ";
}
.imagen1 {
    margin-top: 40px;
    margin-left: 10px;
}
.decoracion {
    font-size: 2rem;
    color: white;
    background-color: red;
    width: 30rem;
    text-align: center;
    
}
